{% extends  "layout4.html" %}

{% block title %}
Customer's Summary
{% endblock %}

{% block content %}



<div class="image">
    

    <div style="text-align: center; margin: 10px;">
        <h2>Request-Distribution</h2><br>
        <img class="image_in" src="/static/images/customer_summary_1.jpeg" 
             alt="Requests by Service Name" >
             
    </div>

   
    <div style="text-align: center; margin: 10px;">
        <h2>Requests-Status Distribution</h2><br>
        <img src="/static/images/customer_summary_2.jpeg" 
             alt="Requests by Status" 
             class="image_in">
    </div>
</div>
{% endblock %}