{% extends "layout1.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="center" style="padding-top:50px;">
  <h1 class="heading" >Welcome to Household Service Platform</h1>
</div>
<div class="input_forms"style="background-color:azure;">
  <div class="center" style="color:rgb(89, 89, 253)">
    <h1>LOGIN</h1>
  </div>

  <form method="POST" action="/">
    <div class="mb-3">
      <label for="username" class="form-label">Username(Email)</label>
      <input type="email" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Your Email" required>

    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Enter Your Password" required>
    </div>
    <br><p class="warning">{{message}}</p>
    <button type="submit" class="btn btn-danger">Login</button>
    <br> <br><a class="btn btn-outline-primary"href="/customerR" target="_blank">Register as Customer</a>
    <br><br> <a class="btn btn-outline-primary" href="/professionalR" target="_blank" >Register as Professional </a>
  </form>
</div>
{% endblock %}


