{% extends "layout3.html" %}

{% block title %}
    Prof Search' Dashboard
{% endblock %}

{% block content %}



<div class="center" style="padding-top:50px;">
  <h3>Search for Service Requests:</h3>
</div>
<div class="my_panel" style="width:50%;">
    <div >
      <form class="input_forms tabheading" method="POST" action="/prof_search/{{serv_id}}/{{prof_username}}" role="search">
        <div><label for="Search">Search (by: Status,Date,Price)</label></div><br>
        <div><input id="search" name="search" class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" ><br>
        <button class="btn btn-outline-success" type="submit">Search</button></div> 
      </form>
    </div>
  </div>
  <br>
  <div style="margin-bottom:20px;" class="center tab tabheading">
    <br>
    <h3>Search Results:</h3>
    <br>
    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">S.No</th> -->
                <th scope="col">Customer Email</th>
                <th scope="col">Service ID</th>
                <th scope="col">Request Date</th>
                <th scope="col">Offered Price</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
          {% if results %}
            {% for req in results %}
                {% if req.status=="approved" %}
                    <tr>
                        <!-- <td>{{ loop.index }}</td> -->
                        <td><a class="profile" href="/customer_profile/{{req.customer_username}}">{{req.customer_username}}</a></td>
                        <td>{{ req.service_id }}</td>
                        <td>{{ req.requested_date }}</td>
                        <td>{{ req.offered_price }}</td>
                        <td>
                          <span style="margin:1px;">
                            <a href="/close/{{req.request_id}}" role="button" class="btn btn-outline-danger">Completed</a>
                        </span> 
                        </td>
                    </tr>
                    {% else %}
                    
                      
                      <tr>
                        <!-- <td>{{ loop.index }}</td> -->
                        <td><a class="profile" href="/customer_profile/{{req.customer_username}}">{{req.customer_username}}</a></td>
                        <td>{{ req.service_id }}</td>
                        <td>{{ req.requested_date }}</td>
                        <td>{{ req.offered_price }}</td>
                        <td>
                          {{req.status}}
                        </td></tr>
                        
                {% endif %}
            {% endfor %}
            {% else %}
            <td colspan="5"><p>No Results Found!</p></td>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

